# Ignore everything
*

# Exceptions for files
!*.cpp
!*.h
!*.gitignore

# Exception for the directory Assets and its contents
!/PAClient/Assets/
!/PAClient/Assets/*

# Don't ignore the ClionStuff directory
!/ClionStuff/

# Ignore everything in ClionStuff except .cpp and .h
/ClionStuff/*
!/ClionStuff/*.cpp
!/ClionStuff/*.h
